<!--list user personal-->
<div id="frame">
  <div id="sidepanel" class="float-styles">
    <div id="profile">
      <div class="wrap">
        <img id="profile-img" src="https://emilcarlsson.se/assets/mikeross.png" class="online" alt="" />
        <p>{{username}}</p>
        <p style="color:rgb(170, 253, 170); font-size: 18px">Online</p>
      </div>
    </div>
    <div id="addContact">
      <form>
        <input placeholder="add a new contact" />
        <button>Add</button>
      </form>
    </div>


    <div id="contacts">

      <ul>
        <li class="contact" *ngFor="let u of listUser" (click)="selectUser(u)">
          <p class="name">{{u}}</p>
        </li>
      </ul>

    </div>

    <div id="bottom-bar">
      <button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>

      <button href="login-form-20/index.html" id="settings" (click)="onLogout()"><i class="fa fa-arrow-left"
          aria-hidden="true"></i>
        <span>Leave</span>
      </button>
    </div>
  </div>

  <!--chat area-->

  <div class="content float-styles">
    <div class="contact-profile">
      <img src="https://emilcarlsson.se/assets/harveyspecter.png" alt="" />

      <p>{{author}}</p>

      <!-- <div class="social-media">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </div> -->
    </div>
    <div class="messages">

      <ul *ngFor="let message of listSendMessage">
        <li class="sent">
          <img src="https://emilcarlsson.se/assets/mikeross.png" alt="" />
          <p>{{message}}</p>
        </li>
      </ul>

      <ul *ngFor="let reply of listReplyMessage">
        <li class="replies">
          <img src="https://emilcarlsson.se/assets/harveyspecter.png" alt="" />
          <p>{{reply}}</p>
        </li>
      </ul>

    </div>

    <div class="message-input">
      <form class="wrap" #formMessage="ngForm" (ngSubmit)="sendMessage(formMessage)">
        <input id="messageInput" name="message" type="text" placeholder="Write your message..." ngModel />
        <button type="submit" class="submit"><i class="fa fa-paper-plane fa-2x" aria-hidden="true"></i></button>
      </form>
    </div>

  </div>

  <!--chat detail-->

  <div id="chat-details" class="float-styles">
    <div id="chat-details-profile">
      <div class="image-profile">
        <img src="https://pbs.twimg.com/profile_images/883859744498176000/pjEHfbdn.jpg" alt="" />
      </div>

      <div>
        <p>Group FontEnd</p>
      </div>

    </div>

    <div id="chat-details-list-items">
      <ul class="list-items-details">
        <li id="member-items" class="show">
          <p>Members</p> <i class="fa fa-angle-down"></i>
        </li>
        <li id="list-members">
          <ul id="members" class="hide">
            <li>
              <img class="image_user" src="https://emilcarlsson.se/assets/louislitt.png" alt="" />
              <p class="name_user">Nguyen Du Khanh</p>
            </li>

            <li>
              <img class="image_user" src="https://emilcarlsson.se/assets/harveyspecter.png" alt="" />
              <p class="name_user">Huynh Ai quoc</p>
            </li>

            <li>
              <img class="image_user" src="https://emilcarlsson.se/assets/rachelzane.png" alt="" />
              <p class="name_user"> Trinh Duc Long</p>
            </li>

          </ul>
        </li>
        <li class="add-items">
          <div class="name_item">
            <p>Add members</p>
            <i class="fa fa-plus"></i>
          </div>

          <div id="input_field" class="hide">
            <input type="text" placeholder="user name" />
            <button type="submit">Add</button>
          </div>
        </li>
        <li class="rename-items">
          <div class="title-item">
            <p>Rename groups</p>
            <i class="fa fa-edit"></i>
          </div>

          <div id="rename-input-field" class="hide">
            <input type="text" placeholder="name" />
            <button type="submit">Change</button>
          </div>

        </li>
      </ul>
    </div>
  </div>

</div>