<div id="sidepanel" class="float-styles">
  <div id="profile">
    <div class="wrap">
      <img id="profile-img" src="https://emilcarlsson.se/assets/mikeross.png" class="online" alt=""/>
      <p>Mike Ross</p>
      <p style="color:green; font-size: 20px">Online <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i></p>
    </div>
  </div>
  <div id="search">
    <label for="profile-img"><i class="fa fa-search" aria-hidden="true"></i></label>
    <input type="text" placeholder="Search contacts..."/>
  </div>
  <div id="contacts">
    <ul>
      <li class="contact">
        <div class="wrap">
          <span class="contact-status online"></span>
          <img src="https://emilcarlsson.se/assets/louislitt.png" alt=""/>
          <div class="meta">
            <p class="name">Nguyen Du Khanh</p>
            <p class="preview">Honestly, I'm watching a video game, Mike.</p>
            <p class="status">Online </p>
          </div>
        </div>
      </li>
      <li class="contact active">
        <div class="wrap">
          <span class="contact-status busy"></span>
          <img src="https://emilcarlsson.se/assets/harveyspecter.png" alt=""/>
          <div class="meta">
            <p class="name">Huynh Ai Quoc</p>
            <p class="preview">Seriously, Have you read the "Fairy Tails" manga?.</p>
            <p class="status">Online </p>
          </div>
        </div>
      </li>
      <li class="contact">
        <div class="wrap">
          <span class="contact-status away"></span>
          <img src="https://emilcarlsson.se/assets/rachelzane.png" alt=""/>
          <div class="meta">
            <p class="name">Trinh Duc Long</p>
            <p class="preview">I was thinking that we could have chicken tonight, sounds good?</p>
            <p class="status">Online </p>
          </div>
        </div>
      </li>
      <li class="contact">
        <div class="wrap">
          <span class="contact-status online"></span>
          <img src="https://emilcarlsson.se/assets/donnapaulsen.png" alt=""/>
          <div class="meta">
            <p class="name">Donna Paulsen</p>
            <p class="preview">Mike, I know everything! I'm Donna..</p>
            <p class="status">Online </p>
          </div>
        </div>
      </li>
      <li class="contact">
        <div class="wrap">
          <span class="contact-status busy"></span>
          <img src="https://emilcarlsson.se/assets/jessicapearson.png" alt=""/>
          <div class="meta">
            <p class="name">Jessica Pearson</p>
            <p class="preview">Have you finished the draft on the Hinsenburg deal?</p>
            <p class="status">Online </p>
          </div>
        </div>
      </li>
      <li class="contact">
        <div class="wrap">
          <span class="contact-status"></span>
          <img src="https://emilcarlsson.se/assets/haroldgunderson.png" alt=""/>
          <div class="meta">
            <p class="name">Harold Gunderson</p>
            <p class="preview">Thanks Mike! :)</p>
            <p class="status-2">Offline </p>
          </div>
        </div>
      </li>
      <li class="contact">
        <div class="wrap">
          <span class="contact-status"></span>
          <img src="https://emilcarlsson.se/assets/danielhardman.png" alt=""/>
          <div class="meta">
            <p class="name">Daniel Hardman</p>
            <p class="preview">We'll meet again, Mike. Tell Jessica I said 'Hi'.</p>
            <p class="status-2">Offline </p>
          </div>
        </div>
      </li>
      <li class="contact">
        <div class="wrap">
          <span class="contact-status busy"></span>
          <img src="https://emilcarlsson.se/assets/katrinabennett.png" alt=""/>
          <div class="meta">
            <p class="name">Katrina Bennett</p>
            <p class="preview">I've sent you the files for the Garrett trial.</p>
            <p class="status">Online </p>
          </div>
        </div>
      </li>
      <li class="contact">
        <div class="wrap">
          <span class="contact-status"></span>
          <img src="https://emilcarlsson.se/assets/charlesforstman.png" alt=""/>
          <div class="meta">
            <p class="name">Charles Forstman</p>
            <p class="preview">Mike, this isn't over.</p>
            <p class="status-2">Offline </p>
          </div>
        </div>
      </li>
      <li class="contact">
        <div class="wrap">
          <span class="contact-status"></span>
          <img src="https://emilcarlsson.se/assets/jonathansidwell.png" alt=""/>
          <div class="meta">
            <p class="name">Jonathan Sidwell</p>
            <p class="preview"><span>You:</span> That's bullshit. This deal is solid.</p>
            <p class="status-2">Offline </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div id="bottom-bar">
    <button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>
    <button href="login-form-20/index.html" id="settings"><i class="fa fa-arrow-left" aria-hidden="true"></i> <span>Leave</span>
    </button>
  </div>
</div>
